<div id="login" class="container">
  <div class="content">

      <!-- 登录 -->
      <div class="login-area">
          <div class="login-title">
              <h3>投融资管理平台</h3>
          </div>
          <div class="login-panel">
              <div class="yhdl">
              <p>用户登录</p>
              </div>
              <div class="login-username">
              <img id="login_yonghu" src="/static/img/login-yonghu.png" alt="" class="username-icon">
              <input id="login_userName" class="login-username-ipt login-ipt" v-model="user.userName" type="text" placeholder="请输入用户名" name="userName" autofocus="autofocus"/>
              </div>
              <div class="login-password">
              <img id="login_mima" src="/static/img/login-mima.png" alt="" class="password-icon">
              <input id="login_password" class="login-password-ipt login-ipt" v-model="user.password"  type="password" placeholder="请输入密码" name="password"/>
              </div>
              <div class="login-btn">
              <span @click="login" id="login_loginBtn" v-bind:class="{'disabled':user.userName==''||user.password==''}">登 录</span>
              </div>
          </div>

          <div class="login-bottomimg">
              <img id="login_bottom" src="/static/img/login-bottomimg.png" alt="">
          </div>
      </div>
  </div>
  <!-- 底部 -->
  <div class="login-footer">
      <div>Copyright © 2018, All Rights Reserved Powered By Xinchuang CO.,LTD.</div>
  </div>

</div>









