<a-menu theme="dark" mode="inline" :defaultSelectedKeys="['3']">
    <a-sub-menu key="sub1">
      <span slot="title">
        <router-link :to="{path:'FinancingProjectManage'}"><a-icon type="user" /><span>融资项目管理</span></router-link>
      </span>
      <a-menu-item key="3"><router-link :to="{path:'FinancingProjectManage'}">融资项目信息</router-link></a-menu-item>
      <a-menu-item key="4">项目事项签报</a-menu-item>
      <a-menu-item key="5">项目决策批复</a-menu-item>
      <a-menu-item key="6">项目进度填报</a-menu-item>
      <a-menu-item key="7">项目进度查看</a-menu-item>
    </a-sub-menu>
    <a-sub-menu key="sub2">
      <span slot="title"><a-icon type="team" /><span>合同协议管理</span></span>
      <a-menu-item key="8">合同协议变更</a-menu-item>
      <a-menu-item key="9">融资主体变更</a-menu-item>
      <a-menu-item key="10">综合成本变更</a-menu-item>
      <a-menu-item key="11">还本付息变更</a-menu-item>
      <a-menu-item key="12">抵质押物变更</a-menu-item>
    </a-sub-menu>
    <a-sub-menu key="sub3">
      <span slot="title"><a-icon type="team" /><span>融资到账管理</span></span>
      <a-menu-item key="13">融资到账列表</a-menu-item>
      <a-menu-item key="14">融资主体变更</a-menu-item>
      <a-menu-item key="15">综合成本变更</a-menu-item>
      <a-menu-item key="16">还本付息变更</a-menu-item>
      <a-menu-item key="17">抵质押物变更</a-menu-item>
    </a-sub-menu>
    <a-sub-menu key="sub4">
      <span slot="title"><a-icon type="team" /><span>融资到账列表</span></span>
      <a-menu-item key="18">合同协议变更</a-menu-item>
      <a-menu-item key="19">融资主体变更</a-menu-item>
      <a-menu-item key="20">综合成本变更</a-menu-item>
      <a-menu-item key="21">还本付息变更</a-menu-item>
      <a-menu-item key="22">抵质押物变更</a-menu-item>
    </a-sub-menu>
    <a-sub-menu key="sub5">
      <span slot="title"><a-icon type="team" /><span>抵质押物变更</span></span>
      <a-menu-item key="23">合同协议变更</a-menu-item>
      <a-menu-item key="24">融资主体变更</a-menu-item>
      <a-menu-item key="25">综合成本变更</a-menu-item>
      <a-menu-item key="26">还本付息变更</a-menu-item>
      <a-menu-item key="27">抵质押物变更</a-menu-item>
    </a-sub-menu>
</a-menu>
