.navi a{
    font-size:14px;
}

.bg-black .nav>li:focus>a,
.bg-black .nav>li.active>a {
    font-weight: bold;
}
  .ant-layout-sider-children .logo {
  height: 28px;
  // background: rgba(255,255,255,.2);
  margin: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
  font-size: 18px;
  letter-spacing:2px
}

.router-link-active,.router-link-active:focus{
  color: #ffffff!important;
  text-decoration: none;
}
